# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.venv/
venv/
.env/

# IDE/Editor settings
.vscode/
.idea/
.spyderproject
.spyproject

# Logs
*.log

# Data (Assuming you want to keep the folder structure but ignore the actual files)
data/*
!data/.gitkeep